/* Account page */
.account-content {
	padding-bottom: 62px;
}

.account-info {
	line-height: 24 / 21 * 1;
}

.account-balance {
	margin: -10px 0 20px;
	span {
		display: inline-block;
		vertical-align: middle;
	}
}

.account-balance-sum {
	padding: 0 20px 0 30px;
	font-size: rem(35);
	font-weight: $font-bold;
}

.cash-in-btn {
	margin-bottom: 26px;
	padding: 18px 35px 13px 100px;
	font-weight: $font-normal;
	background: url(../images/icons/icon-credit-cards.png) 35px 50% no-repeat;
	background-color: $s;
}

.account-cash {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 28px 14px 0;
	padding-left: 35px;
	&:before {
		content: '';
		position: absolute;
		top: 5px; left: 0;
		@include size(0);
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
	}
}
.account-cash-up:before   { border-bottom: 15px solid $gn; }
.account-cash-down:before { border-top: 15px solid $rd; }

.account-accordion {
	.accordion-btn {
		margin-top: 3px;
	}
}

.account-accordion-table {
	padding-bottom: 10px;
	overflow: auto;
	background: $dw;
	table {
		width: 100%;
		td {
			padding: 15px 5px 0;
			line-height: 24 / 16 * 1;
		}
		.col-1 {
			padding-left: 30px;
			width: 11%;
		}
		.col-2 {
			width: 51%;
		}
		.col-3 {
			width: 15%;
		}
		.col-4 {
			width: 23%;
		}
	}
}