/* Contact page */
.contact-content {
	padding-bottom: 50px;
	
	.contact-title {
		margin: 37px 0;
	}
	
	.contact-items {
		margin-bottom: 32px;
	}
	
	.contact-item {
		li,
		a {
			line-height: 35 / 21 * 1;
		}
	}
	
	.scl-item {
		margin-bottom: 38px;
		text-align: center;
	}
}