/* Cost count */
.cost-count-info {
	padding-bottom: 95px;
}

.cost-count-table {
	margin-bottom: 5px;
	overflow: auto;
	table {
		width: 100%;
		tr {
			background: $dw;
			&:nth-child(even) {
				background: $lgr;
			}
			&:first-child {
				background: transparent;
			}
		}
		th {
			padding: 14px 17px;
			font-weight: $font-bold;
		}
		td {
			padding: 21px 17px;
			// min-width: 200px;
		}
		.col-1 {
			min-width: 195px;
		}
		.col-2 {
			width: 30%;
		}
		.col-3,
		.col-4,
		.col-5 {
			width: 18%;
			text-align: right;
		}
	}
}

.cost-result-table {
	margin-bottom: 50px;
	table {
		margin-left: auto;
		td {
			padding: 22px 17px;
			min-width: 215px;
			font-weight: $font-bold;
			text-align: right;
		}
		.col-1 {
			text-transform: uppercase;
		}
		.col-2 {
			padding-right: 30px;
		}
		.first-row {
			border-bottom: 1px solid $lgr;
		}
		.result-row {
			font-size: rem(35);
			background: $dw;
		}
	}
}

.cost-count-btn {
	display: block;
	padding: 14px;
	margin: 0 70px 0 auto;
	font-size: rem(25);
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 2, 0.35);
}