/* FAQ page */
.faq-content {
	padding-bottom: 100px;
	background-image: url(../images/bg/bg-faq.png), url(../images/bg/bg-faq.png);
	background-size: 305px 543px, 252px 447px;
	background-repeat: no-repeat;
	background-position: -145px 45px, 1250px 570px;
	.faq-title {
		margin: 37px 0 35px;
	}
}