/* Orders page */

.account-accordion-table table,


.orders-content {
    padding-bottom: 97px;
}

.orders-table {
    overflow: auto;
    table {
        width: 100%;
        th {
            padding: 18px 10px 14px;
            line-height: 24 / 24 * 1;
            font-weight: $font-bold;
            color: $w;
            background: $lbl;
        }
        td {
            vertical-align: top;
            padding: 18px 10px 14px;
            font-size: rem(16);
            line-height: 28 / 16 * 1;
            border-bottom: 5px solid $w;
            background: $dw;
        }
        .col-1 {
            padding-left: 33px;
            width: 16%;
        }
        .col-2 {
            width: 35%;
        }
        .col-3 {
            width: 25%;
        }
        .col-4 {
            width: 12%;
        }
        .col-5 {
            width: 12%;
        }
        .inner-row {
            display: table;
        }
        .order-status,
        .order-date {
            display: table-cell;
        }
        .order-status {
            width: 130px;
        }
        .order-status-declined {
            padding: 0 5px;
            color: $w;
            background: $rd;
        }
        .order-date {
            width: 90px;
        }
    }
}