/* Slider */

//Slick slider
.slick-slider {
	position: relative;
	z-index: 5;
	display: block;
	box-sizing: border-box;
	max-width: 1125px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-current + .slick-active {
		background: $s;
	}
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	padding-bottom: 15px;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

//Arrows
.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	z-index: 6;
	display: block;
	margin-top: 2px;
	@include size(67px);
	overflow: hidden;
	border: none;
	outline: none;
	border-radius: 50%;
	cursor: pointer;
	color: transparent;
	background: url(../images/page-elements/slider-arrow.png) 50% 50% no-repeat;
}
.slick-prev {
	left: -74px;
}
.slick-next {
	right: -74px;
	@include transform(rotate(180deg));
}

//Responsive
@media (max-width: 1280px) {
	.slick-prev { left: -45px; }
	.slick-next { right: -45px; }
}

@include media-breakpoint-down(lg) { // < 1236
	.reviews-slider {
		max-width: 890px;
	}
}

@include media-breakpoint-down(md) { // < 992
	.slick-slider {
		.slick-current + .slick-active {
			background: rgba(255, 255, 255, .6);
		}
	}
	.slick-prev,
	.slick-next {
		top: initial; bottom: -50px;
	}
	.slick-prev {
		left: 50%;
		margin-left: -80px;
	}
	.slick-next {
		right: 50%;
		margin-right: -80px;
	}
}