/* Test drive page */
.test-drive-content {
	.photo-container-wrap {
		padding-bottom: 50px;
	}
	.photo-container {
		border: none;
	}
}

.test-drive-info {
	margin: 40px 0 42px;
}

.test-drive-title {
	margin-bottom: 25px;
	line-height: 20 / 35 * 1;
}

.test-drive-subtitle {
	margin-bottom: 40px;
	line-height: 20 / 35 * 1;
	font-weight: $font-bold;
	text-align: center;
}

.test-drive-about {
	padding-left: 45px;
}

.product-cost {
	margin-bottom: 80px;
	padding: 14px 10px 10px;
	max-width: 380px;
	text-align: center;
	background: $dw;
}

.product-cost-title,
.product-cost-total {
	line-height: 30 / 21 * 1;
	font-weight: $font-bold;
}

.product-cost-table {
	margin-bottom: 10px;
	table {
		width: 100%;
	}
	.product-col-1 {
		padding: 0 5px;
		text-align: right;
	}
	.product-col-2 {
		padding: 0 10px;
		text-align: left;
	}
}

.register-info {
	margin: 0 auto;
	max-width: 440px;
	text-align: center;
}

.register-info-text {
	margin-bottom: 40px;
}

.register-info-btn {
	margin-bottom: 80px;
	padding: 16px 44px;
	border: none;
	outline: none;
	font-size: rem(25);
	line-height: 24 / 25 * 1;
	box-shadow: 0 5px 10px rgba(0, 0, 2, 0.35);
}

.product-btn-wrap {
	position: relative;
}

.product-tooltip-wrap {
	position: absolute;
}

.product-tooltip {
	min-width: 150px;
	border-radius: 7px;
	&:before {
		display: none;
	}
}

.product-tooltip-left  { top: 35px; left: 35px; }
.product-tooltip-right { top: 35px; right: 0; }

.tooltip-wrap-1  { top: -17px; left: 71px; }
.tooltip-wrap-2  { top: -17px; left: 51%; }
.tooltip-wrap-3  { top: -17px; right: 75px; }
.tooltip-wrap-4  { bottom: 70px; right: 70px; }
.tooltip-wrap-5,
.tooltip-wrap-6,
.tooltip-wrap-7,
.tooltip-wrap-8  { top: -20px; left: -50px; }
.tooltip-wrap-9  { top: -20px; right: 75px; }
.tooltip-wrap-10 { top: -13px; left: 135px; }
.tooltip-wrap-11 { top: -30px; left: 190px; }
.tooltip-wrap-12 { top: -22px; right: 40px; }