/* Text page */
.text-page-content {
	padding-bottom: 50px;
	.articles {
		margin-top: 26px;
	}

	.article {
		margin-bottom: 45px;
		p {
			margin-bottom: 27px;
			&:last-of-type {
				margin-bottom: 18px;
			}
		}
		img {
			margin-bottom: 30px;
		}
	}

	.article-title {
		margin-bottom: 10px;
		line-height: 52 / 35 * 1;
	}

	.scl-block {
		ul {
			float: left;
		}
		li {
			margin-left: 7px;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.scl-icon {
		background: url(../images/scl-sprite-color.png) no-repeat;
	}

	.scl-icon-fb   { background-position: -10px -10px; }
	.scl-icon-inst { background-position: -58px -10px; }
	.scl-icon-vk   { background-position: -106px -10px; }
}