$footer: 198px;

$fontSize: 21px;
$lineHeight: 27px;
$fontFamily: 'PT Sans', sans-serif;        $ff: $fontFamily;

$durationFunction: 0.2s ease-in-out;      $df: $durationFunction;

$primary: #1f2639;                $p: $primary;
$secondary: #ffde01;              $s: $secondary;
$background: #e6e6e6;             $bg: $background;
$text: #1f2639;                   $t: $text;
$link: #1f2639;                   $l: $link;
$link-hover: #2099e0;             $lh: $link-hover;

$white: #fff;                     $w: $white;
$black: #000;                     $b: $black;
$dark-white: #f0f0f0;             $dw: $dark-white;
$dark-gray: #333;                 $dgr: $dark-gray;
$gray: #5a5a5a;                   $gr: $gray;
$light-gray: #e6e6e6;             $lgr: $light-gray;
$primary-light: #1e2538;          $pl: $primary-light;
$green: #51de4d;                  $gn: $green;
$red: #de4c4c;                    $rd: $red;
$light-green: #90e69b;            $lgn: $light-green;
$light-yellow: #f2ab39;           $lyl: $light-yellow;
$light-blue: #2ba8d9;             $lbl: $light-blue;
$extra-light-blue: #149cf1;       $elb: $extra-light-blue;
$transparent: transparent;        $tr: $transparent;

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-black: 900;