#auth_block_1 {
  width: 48% !important;
}

.add {
  cursor: pointer;
}
.social-form {
  display: none;

}
#social {

  display:none;
  width:850px;
  padding:20px;
}
.social-link {
  cursor: pointer;
}

input{position:absolute; top:-1000px;}

input[name=social-type] {
    top:0px;
}
.uploaded-photo {
width: 230px;

}
.uploaded-photo-del {
right: 17px;
}
iframe{position:absolute; top:-1000px;}



input.social_input{position:relative; top:1px;}
.col-lg-7{
  width: 95%;
}
.uploaded-photo-inner img {
  width:200px !important;
  height: 155px !important;

}
