<p>Вы Оплатили заказ №#ORDER# на сайте #SITE# </p>

<h2>Получатель</h2>
<p>ФИО: #FIO#</p>
<p>Телефон: #NUMBER#</p>
<h2>Адрес доставки   </h2>
<p> Область : #REGION# </p>
<p> Город : #CITY# </p>
<p> Улица : #STREET#</p>
<p> Дом : #HOUSE#</p>
<p> Квартира : #FLAT#</p>
<p>Офис новой почты: #NOF#  </p>


